@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-red {
        @apply bg-red-500 rounded-3xl font-semibold hover:bg-red-700 duration-200 text-white p-4
    }

    .order-step {
        @apply font-semibold p-4 min-w-14 rounded-full text-white
    }

    .arrow {
        @apply btn-red min-w-14 rounded-full
    }

    .input > input, p {
        @apply p-2
    }

    .order-arrow-right {
        @apply absolute right-[0%] top-2/4 lg:top-1/4 sm:right-[5%] xl:right-[15%] 2xl:right-[25%]
    }

    .order-arrow-left {
        @apply absolute left-[0%] top-2/4 lg:top-1/4 sm:left-[5%] xl:left-[15%] 2xl:left-[25%]
    }

    .input-field {
        @apply border-slate-800 rounded-xl border-2 w-full p-0 m-0 bg-slate-900
    }

    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
    }
  
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        color: #fff;
        text-align: center;
        border-radius: 6px;

        min-width: 240px;
        bottom: 100%;
        left: 50%;
        margin-left: -120px; /* Use half of the width (120/2 = 60), to center the tooltip */
        

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;

        @apply font-normal bg-gray-400 p-2;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .tooltiptext {
        @apply font-sans
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus, textarea:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}